.login-form-title {
	display: flex;
	justify-content: center;
	font-size: 30px;
	font-weight: 700;
	color: azure;

	line-height: 1.2;
	text-align: center;
	margin-bottom: 36px;
}

.login-form-title img {
	width: 25%;
	height: 0%;
}

.login-form {
	width: 100%;

	display: block;
	font-size: 30px;
	color: azure;

	line-height: 1.2;
	text-align: left;
}

.wrap-input {
	width: 100%;
	position: relative;
	border-bottom: 2px solid #adadad;
	margin-bottom: 36px;
}

.input {
	font-size: 15px;
	color: #fff;
	line-height: 1.2;
	border: none;
	display: block;
	font-weight: 600;

	width: 100%;
	height: 45px;
	background-color: transparent;
	padding: 0 5px;
}

.focus-input {
	display: block;
	width: 100%;
	height: 100%;

	top: 0;
	left: 0;
	pointer-events: none;
	color: #adadad;
}
.focus-input::before {
	content: "";
	display: block;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 0;
	height: 2px;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;

	background: -webkit-linear-gradient(to right, #213656, #901541);
	background: -o-linear-gradient(to right, #213656, #901541);
	background: -moz-linear-gradient(to right, #213656, #901541);
	background: linear-gradient(to right, #213656, #901541);
}

.focus-input::after {
	font-size: 15px;
	color: #999;
	line-height: 1.2;

	content: attr(data-placeholder);

	display: block;
	width: 100%;
	position: absolute;
	top: 16px;
	left: 0px;

	padding-left: 5px;

	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
}

.input:focus {
	outline: 0;
}

.input:focus + .focus-input::after {
	top: -15px;
}

.input:focus + .focus-input::before {
	width: 100%;
}

.has-value + .focus-input::after {
	top: -15px;
}

.has-value + .focus-input::after {
	width: 100%;
}

.text-center {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 30px;

	svg {
		margin: 0 5px;
	}
}

.label-password {
	color: #adadad;
	line-height: 1.5;
}

.link-password {
	color: #eee;
	font-size: 17px;
	line-height: 1.5;
	text-decoration: none;
	cursor: pointer;

	transition: filter 0.2s;

	&:hover {
		filter: opacity(0.8);
	}
}

.input-error {
	display: flex;
	margin: -25px 0 30px 0;
	justify-content: flex-end;

	span {
		font-size: 14px;
		color: #edf2f7;
		background-color: #f56565;
		border-radius: 5px;
		padding: 3px;
	}
}
